#topcontrol{z-index:999}
#topcontrol a{display:block;width:54px;height:41px;background:url(scrolltotop.gif) no-repeat 0 0}
#topcontrol a:hover{display:block;width:54px;height:41px;background:url(scrolltotop.gif) no-repeat -54px 0}

.zeng_msgbox_layer,
.zeng_msgbox_layer .gtl_ico_succ,
.zeng_msgbox_layer .gtl_ico_fail,
.zeng_msgbox_layer .gtl_ico_hits,
.zeng_msgbox_layer .gtl_ico_clear,
.zeng_msgbox_layer .gtl_end{display:inline-block;height:54px;line-height:54px;font-weight:bold;font-size:14px;color:#606060;background-image:url(gb_tip_layer.png);_background-image:url(gb_tip_layer_ie6.png);background-repeat:no-repeat}
.zeng_msgbox_layer_wrap{width:100%;position:fixed;_position:absolute;top:46%;left:0;text-align:center;z-index:65533}
.zeng_msgbox_layer{background-position:0 -161px;background-repeat:repeat-x;padding:0 18px 0 9px;margin:0 auto;position:relative}
.zeng_msgbox_layer .gtl_ico_succ{background-position:-6px 0;left:-45px;top:0;width:45px;position:absolute}
.zeng_msgbox_layer .gtl_end{background-position:0 0;position:absolute;right:-6px;top:0;width:6px}
.zeng_msgbox_layer .gtl_ico_fail{background-position:-6px -108px;position:absolute;left:-45px;top:0;width:45px}
.zeng_msgbox_layer .gtl_ico_hits{background-position:-6px -54px;position:absolute;left:-45px;top:0;width:45px}
.zeng_msgbox_layer .gtl_ico_clear{background-position:-6px 0;left:-5px;width:5px;position:absolute;top:0}
.zeng_msgbox_layer .gtl_ico_loading{width:16px;height:16px;border:0;background-image:url(gb_tip_loading.gif);float:left;margin:19px 10px 0 5px}

.colorTip{display:none;position:absolute;left:50%;top:-30px;padding:6px;background-color:white;font-family:Arial,Helvetica,sans-serif;font-size:11px;font-style:normal;line-height:1;text-decoration:none;text-align:center;text-shadow:0 0 1px white;white-space:nowrap;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px}
.pointyTip,.pointyTipShadow{border:6px solid transparent;bottom:-12px;height:0;left:50%;margin-left:-6px;position:absolute;width:0}
.pointyTipShadow{border-width:7px;bottom:-14px;margin-left:-7px}
.colorTipContainer{position:relative;text-decoration:none!important}
.white .pointyTip{border-top-color:white}
.white .pointyTipShadow{border-top-color:#ddd}
.white .colorTip{background-color:white;border:1px solid #ddd;color:#555}
.yellow .pointyTip{border-top-color:#f9f2ba}
.yellow .pointyTipShadow{border-top-color:#e9d315}
.yellow .colorTip{background-color:#f9f2ba;border:1px solid #e9d315;color:#5b5316}
.blue .pointyTip{border-top-color:#d9f1fb}
.blue .pointyTipShadow{border-top-color:#7fcdee}
.blue .colorTip{background-color:#d9f1fb;border:1px solid #7fcdee;color:#1b475a}
.green .pointyTip{border-top-color:#f2fdf1}
.green .pointyTipShadow{border-top-color:#b6e184}
.green .colorTip{background-color:#f2fdf1;border:1px solid #b6e184;color:#558221}
.red .pointyTip{border-top-color:#bb3b1d}
.red .pointyTipShadow{border-top-color:#8f2a0f}
.red .colorTip{background-color:#bb3b1d;border:1px solid #8f2a0f;color:#fcfcfc;text-shadow:none}
.black .pointyTip{border-top-color:#333}
.black .pointyTipShadow{border-top-color:#111}
.black .colorTip{background-color:#333;border:1px solid #111;color:#fcfcfc;text-shadow:none}