<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Fluid Layout - jQuery EasyUI Demo</title>
	<link rel="stylesheet" type="text/css" href="../../themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="../../themes/icon.css">
	<link rel="stylesheet" type="text/css" href="../demo.css">
	<script type="text/javascript" src="../../jquery.min.js"></script>
	<script type="text/javascript" src="../../jquery.easyui.min.js"></script>
</head>
<body>
	<h2>Fluid Layout</h2>
	<p>Percentage width of region panel in a layout.</p>
	<div style="margin:20px 0;"></div>
	<div class="easyui-layout" style="width:700px;height:350px;">
		<div id="p" data-options="region:'west'" title="West" style="width:30%;padding:10px">
			<p>width: 30%</p>
		</div>
		<div data-options="region:'center'" title="Center">
		</div>
	</div>
</body>
</html>