@charset "utf-8";
/* CSS Document */
.uploadify-button{
	float: left;
	display:inline-block;
	border:1px solid #808080;
	background-color: #707070;
	line-height:24px;
	border-radius:12px;
	padding:0 18px;
    font-size:12px;
    font-weight: 600;
    font-family: '微软雅黑';
	color:#FFF;
	cursor:pointer;
	text-decoration:none;
}
.uploadify-button:hover{
	background-color: #888;
}
.uploadfile{
	width:0;
}
.uploadify-queue .uploadify-queue-item{
	list-style-type:none;
}
.uploadbtn,.delfilebtn,.showfilebtn{
	display:inline-block;
	border:1px solid #999;
	line-height:24px;
	border-radius:4px;
	padding:0 18px;
    font-size:12px;
	color:#666;
	cursor:pointer;
	background:url(images/btnbg.png) repeat-x 0 0;
	text-decoration:none;
}
.up_filename,.progressnum,.delfilebtn,.uploadbtn,.up_percent{
	font-size:12px;
	color:#666;
	margin-left:10px;
}
.showfilebtn{
	font-size:12px;
	color: blue;
	margin-left:10px;
	border: 1px blue solid;
}
.uploadify-progress{
	 display:inline-block; 
	 width:200px;
	 height:10px; 
	 background-color:white;
	 border-radius:20px;
	 border:2px groove #666;
	 vertical-align:middle;
	 padding:0;
	margin-left: 10px;
}
.uploadify-progress-bar{
	width:0;
	height:100%;
	border-radius:20px;
	background-color: #0099FF;
	}
