<!--页面展示特殊要求-->
.datagrid-body,.datagrid-footer,.datagrid-pager ,.datagrid-view {
	background-color:#EAF2FD;
}

.easyui-dialog .fitem label{
	width:80px;
	float:left;
	padding:5px;
}

#tablePanel .action-show {
	background: url('../js/easyui/themes/icons/list.png') no-repeat left center;
}

#tablePanel .action-edit {
	background: url('../js/easyui/themes/icons/pencil.png') no-repeat left center;
	padding: 0 8px 0 20px;
}

#tablePanel .action-delete {
	background: url('../js/easyui/themes/icons/edit_remove.png') no-repeat left center;
	padding-left: 20px;
}

#tablePanel #searchTable {
	height: 40px;
	padding: 5px;
}

.system-config {
	padding: 5px;
	font-size: 13px;
}

.system-config td{
	padding: 10px 0px 10px 10px;

}

#accountDetailListDlg .n-link{
	color:blue;
	text-decoration:underline;
	cursor:pointer;
}

#tablePanel .n-link{
	color:blue;
	text-decoration:underline;
	cursor:pointer;
}

#materialDetailListDlg .n-link{
	color:blue;
	text-decoration:underline;
	cursor:pointer;
}

#depotHeadDlgShow .n-link{
	color:blue;
	text-decoration:underline;
	cursor:pointer;
}
.progressBar {
	border: solid 2px #86A5AD;
	background: white url('../images/progressBar_m.gif') no-repeat 10px 10px;
	display: none;
	width: 280px;
	height: 50px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -74px;
	margin-top: -14px;
	padding: 10px 10px 10px 50px;
	text-align: left;
	line-height: 27px;
	font-weight: bold;
	position: absolute;
	z-index: 9999;
}