/*价格*/
#depotHeadFM .price-list {
	width:110px;
	float:left;
	position:absolute;
	border:1px solid #95B8E7;
}

#depotHeadFM .price-list ul{
	padding: 0px;
	margin: 0px;
	background-color: #fff;
}

#depotHeadFM .price-list ul li{
	list-style: none;
	padding: 3px;
}

#depotHeadFM .price-list ul li:hover{
	background-color: #e9f1fc;
}

/*零售*/
#depotHeadFM .retail-amount tr td{
	padding: 5px;
}

#depotHeadFM .retail-amount tr td input{
	width: 225px;
	height: 30px;
	line-height: 30px;
	font-size: 24px;
	border-color: #878787;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px
}

#depotHeadFM .retail-amount .change-amount{
	color:purple;
}

#depotHeadFM .retail-amount .get-amount{
	color:red;
}

#depotHeadFM .retail-amount .back-amount{
	color: green;
	text-align: right;
}

#depotHeadDlgShow .retail-amount-show tr td{
	padding: 5px;
}

#depotHeadDlgShow .retail-amount-show .change-amount-show{
	color:purple;
	font-size: 24px;
}

#depotHeadDlgShow .retail-amount-show .get-amount-show{
	color:red;
	font-size: 24px;
}

#depotHeadDlgShow .retail-amount-show .back-amount-show{
	color: green;
	text-align: right;
	font-size: 24px;
}

/*计量单位*/
#depotHeadFM .unit-list {
	width:68px;
	float:left;
	position:absolute;
	border:1px solid #95B8E7;
}

#depotHeadFM .unit-list ul{
	padding: 0px;
	margin: 0px;
	background-color: #fff;
}

#depotHeadFM .unit-list ul li{
	list-style: none;
	padding: 3px;
}

#depotHeadFM .unit-list ul li:hover{
	background-color: #e9f1fc;
}

#depotHeadDlg .org-list{
	float: left;
	width:135px;
}

#depotHeadDlg .account-list{
	float: left;
	width:112px;
}

#depotHeadDlg .add-org-btn, #depotHeadDlg .add-account-btn{
	float: left;
	width:20px;
	padding: 2px;
}

#depotHeadDlg .other-money-list{
	float: left;
	width:122px;
}

#depotHeadDlg .other-money-ico{
	padding-left: 5px;
}