<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
	<!--
		<property name="hibernate.connection.driver_class">
		com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.connection.url">
		jdbc:mysql:///myshop
		</property>
		<property name="hibernate.connection.username">root</property>
		<property name="connection.password">root</property>
	-->
	<property name="hibernate.dialect">
		org.hibernate.dialect.MySQL5Dialect
	</property>
	<property name="show_sql">true</property>
	<!-- 一般重新建库用create(慎用)，只更新字段用update -->
	<property name="hbm2ddl.auto">update</property>

	<!-- 对应的实体映射 -->
	<mapping resource="com/jsh/model/po/Supplier.hbm.xml" />
	<mapping resource="com/jsh/model/po/Logdetails.hbm.xml" />
	<mapping resource="com/jsh/model/po/Assetname.hbm.xml" />
	<mapping resource="com/jsh/model/po/Category.hbm.xml" />
	<mapping resource="com/jsh/model/po/Basicuser.hbm.xml" />
	<mapping resource="com/jsh/model/po/Asset.hbm.xml" />
	<mapping resource="com/jsh/model/po/Depot.hbm.xml" />
	<mapping resource="com/jsh/model/po/App.hbm.xml" />
	<mapping resource="com/jsh/model/po/Role.hbm.xml" />
	<mapping resource="com/jsh/model/po/Functions.hbm.xml" />
	<mapping resource="com/jsh/model/po/UserBusiness.hbm.xml" />
	<mapping resource="com/jsh/model/po/Person.hbm.xml" />
	<mapping resource="com/jsh/model/po/MaterialCategory.hbm.xml" />
	<mapping resource="com/jsh/model/po/Material.hbm.xml" />
    <mapping resource="com/jsh/model/po/DepotHead.hbm.xml" />
    <mapping resource="com/jsh/model/po/DepotItem.hbm.xml" />
    <mapping resource="com/jsh/model/po/Account.hbm.xml" />
    <mapping resource="com/jsh/model/po/InOutItem.hbm.xml" />
    <mapping resource="com/jsh/model/po/AccountHead.hbm.xml" />
    <mapping resource="com/jsh/model/po/AccountItem.hbm.xml" />
</session-factory>
</hibernate-configuration>
