::selection{background:#99cc00;color:white /* Safari */}
::-moz-selection{background:#99cc00;color:white /* Firefox */}

/*webkit滚动条样式*/
::-webkit-scrollbar-track-piece{background-color:#f5f5f5;border-left:1px solid #d2d2d2}
::-webkit-scrollbar{width:13px;height:13px}
::-webkit-scrollbar-thumb{background-color:#c2c2c2;background-clip:padding-box;border:1px solid #979797;min-height:28px}
::-webkit-scrollbar-thumb:hover{border:1px solid #636363;background-color:#929292}