*{margin:0;padding:0}
form,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,p{list-style:none outside none}
textarea{resize:none;padding:5px}
.fr{float:right}
.fl{float:left}
.disn{display:none}
.breakword{
white-space: pre;           /* CSS 2.0 */
white-space: pre-wrap;      /* CSS 2.1 */
white-space: pre-line;      /* CSS 3.0 */
white-space: -pre-wrap;     /* Opera 4-6 */
white-space: -o-pre-wrap;   /* Opera 7 */
white-space: -moz-pre-wrap; /* Mozilla */
white-space: -hp-pre-wrap;  /* HP Printers */
word-wrap: break-word;      /* IE 5 */
}

body{font:12px/1.8 'Segoe UI','微软雅黑',sans-serif}

.title{background:url(app_spr_x.png) repeat-x 0 -40px #E6F2FA;border-bottom:1px solid #DDD;padding-left:10px;height:27px;line-height:27px;color:#666;clear:both}
.title{background-image:url(app_spr_x.png);background-repeat:repeat-x;position:relative;height:27px;padding:0 5px;line-height:27px;border-bottom:1px solid #DDD;background-position:0 -40px}
.title b{color:#F60}
.title .btn-back{float:left;margin:4px 5px 0 0}
.title ul{margin:0;position:absolute;top:0;left:-1px;height:28px;overflow:hidden}
.title li{float:left;height:28px;padding:0 10px;line-height:28px}
.title li.focus{padding:0 9px;font-weight:bold;border-left:1px solid #DDD;border-right:1px solid #DDD;background:#FFF;cursor:default}
.title li a{color:#555;cursor:pointer;text-decoration:none}
.title li a:hover{color:#36C}

.detile-title{padding:10px 0;margin:0;text-indent:15px;border-bottom:2px solid #ddd;font-weight:bold}
.input-label{float:left;width:100%;background:url(input-label.png) repeat-y;padding:10px 0;line-height:28px;border-bottom:1px solid #eee;clear:both}
.input-label .label-text{float:left;padding-right:20px;text-align:right;width:130px;margin-bottom:0;line-height:28px}
.input-label .label-box{margin:0 10px;padding-left:150px}

/*列表*/
.list-table{width:100%;border-collapse:collapse}
.list-table .col-name th{font-weight:normal;height:31px;text-align:center;background:url(bought-table.png) repeat-x;border-top:1px solid #c4d5e0;border-bottom:1px solid #c4d5e0;color:black}
.list-table .sep-row{height:7px}
.list-table .toolbar{height:30px;background-color:#F3F3F3}
.list-table .toolbar td{border:1px solid #DEDEE0;border-width:1px 0}
.list-table .list-hd{background:#E8F2FF;color:#404040}
.list-table .list-hd td{border:1px solid #D4E7FF;height:28px;padding-bottom:1px;line-height:28px}
.list-table .list-bd td{padding:8px 5px;overflow:hidden;text-align:center;vertical-align:middle;border:1px solid #D4E7FF;border-left-color:#E6E6E6;border-right-color:#E6E6E6}
.list-table .list-count{font-family:'Courier New',Courier,mono;font-style:italic;font-weight:bold;margin:0 8px 0 5px;font-size:14px}

/* 壁纸设置 */
.wallpapertype{width:500px;height:40px;line-height:40px;margin:auto;margin-top:10px}
.wallpaper{width:500px;margin:auto;margin-top:10px}
.wallpaper li{width:150px;height:110px;float:left;margin-right:10px;border:5px solid #fff;background:#fff;cursor:pointer}
.wallpaper li.three{margin-right:0}
.wallpaper li:hover{border-color:#9FF;background:#9FF}
.wallpaper li div{width:150px;height:20px;line-height:20px;text-align:center}
.wapppapercustom{width:500px;margin:auto;margin-top:10px;border:1px solid #ccc}
.wapppapercustom .tip{padding:10px}
.wapppapercustom .view{width:500px;height:250px}
.wapppapercustom .view ul{width:480px;height:230px;line-height:230px;margin:auto;margin-bottom:15px;text-align:center}
.wapppapercustom .view ul li{border:5px solid #fff;overflow:hidden;float:left;width:150px;height:105px;margin:5px 0;position:relative}
.wapppapercustom .view ul li a{display:none;position:absolute;z-index:2;top:-5px;right:-5px;text-decoration:none;width:48px;height:32px;line-height:32px;text-align:center;background-color:#ccc}
.wapppapercustom .view ul li:hover{border-color:#ccc;cursor:pointer}
.wapppapercustom .view ul li:hover a{display:block}
.wapppaperwebsite{width:480px;margin:auto;margin-top:10px;padding:10px;border:1px solid #ccc}

/* 皮肤设置 */
.skin{width:550px;margin:auto;margin-top:10px}
.skin li{width:256px;height:156px;margin:0 4px 10px 4px;float:left;border:5px solid #fff;background:#fff;cursor:pointer;position:relative}
.skin li:hover{border-color:#9FF;background:#9FF}
.skin li div{display:none;width:48px;height:48px;background:url(selected.png) no-repeat;position:absolute;right:-15px;bottom:-15px}
.skin li.selected div{display:block}

/* 应用码头位置设置 */
.dock_setting{width:710px;margin:auto}
.dock_setting table{width:100%}
.dock_setting .set_top{padding:10px 0 10px 320px}
.dock_setting .set_left{padding:0 5px}
.dock_setting .set_right{padding:0 5px}
.dock_setting .set_view{display:inline;float:left;width:550px;height:280px;background-image:url(dock_setting.jpg)}
.dock_setting .set_view_top{background-position:0 0}
.dock_setting .set_view_left{background-position:0 -280px}
.dock_setting .set_view_right{background-position:0 -560px}

/* 应用市场 */
.sub-nav{position:absolute;z-index:2;top:0;bottom:0;left:0;width:60px;height:100%}
.sub-nav ul{position:absolute;width:54px;height:100%;margin:0 0 0 5px}
.sub-nav ul .all{margin-top:5px}
.sub-nav ul .myapps{position:absolute;bottom:10px}
.sub-nav ul li a{padding-right:0;min-width:28px!important}
.sub-nav ul li a:hover,
.sub-nav ul .active a,
.sub-nav ul .active a:hover{background:#EEE}

.wrap{position:absolute;top:0;right:0;bottom:0;left:60px;_position:relative;_left:0;_height:100%;_margin-left:60px;overflow:auto;background:#EEE}
.mbox{border:1px solid #DDD;background:#FFF}
.app-contents,
.col-main{position:relative;padding:10px;overflow:hidden}
.col-sub{float:right;width:215px;padding:10px 10px 0 0;overflow:hidden}
.app-list-box{height:400px;overflow:hidden}

.app-list-box .app-list{margin:0;height:324px;overflow:hidden;background:url(app_list.png)}
.app-list-box .app-list li{position:relative;height:54px;padding:6px 0 6px 68px;vertical-align:middle;overflow:hidden}
.app-list-box .app-list li:hover{background:#FBEFCE}
.app-list-box .app-list li a{color:#555;text-decoration:none}
.app-list-box .app-list li a:hover{color:#36C}
.app-list-box .app-list img{position:absolute;top:9px;left:10px;width:48px;height:48px}
.app-list-box .app-list .app-name,
.app-list-box .app-list .app-desc{display:block;width:240px;height:27px;line-height:27px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
.app-list-box .app-list .app-name{font-weight:bold}
.app-list-box .app-list .app-desc{color:#999}
.app-list-box .app-list .app-desc b{font-weight:normal}
.btn-add-s,
.btn-run-s,
.btn-remove-s,
.btn-loading-s{display:inline-block;width:24px;height:24px;line-height:20;overflow:hidden;background-position:0 -110px;position:absolute;top:21px;right:20px;background:url(app_spr_img.png) no-repeat}
.btn-add-s{background-position:0 -110px}
.btn-add-s:hover{background-position:-25px -110px}
.btn-add-s:active{background-position:-50px -110px}
.btn-run-s{background-position:0 -135px}
.btn-run-s:hover{background-position:-25px -135px}
.btn-run-s:active{background-position:-50px -135px}
.btn-remove-s{background-position:0 -160px}
.btn-remove-s:hover{background-position:-25px -160px}
.btn-remove-s:active{background-position:-50px -160px}
.btn-loading-s{background:url(loading_24.gif) no-repeat}

.app-list .star-box,
.app-list .star-box i{background:url(app_spr_img.png) no-repeat}
.app-list .star-box{position:relative;top:-46px;left:252px;display:inline-block;width:85px;height:15px;background-position:0 -62px}
.app-list .star-box i{position:absolute;font-style:normal;top:0;left:0;height:15px;overflow:hidden;background-position:0 -78px}
.app-list .star-num{position:absolute;top:10px;left:415px;display:inline-block;height:21px;line-height:21px;font-family:Georgia;font-weight:bold;font-size:16px;color:#F60}
.app-list .app-stat{position:absolute;top:36px;right:93px;color:#999}
.app-list .app-list-box .app-list b{color:#F60}

.search-box{position:relative;height:28px;margin-bottom:8px}

.btn-add,
.btn-run{float:right;display:inline-block;width:93px;height:30px;line-height:31px;text-indent:29px;overflow:hidden;color:#fff;background:url(app_spr_img.png) no-repeat;text-decoration:none}
.btn-add:hover{background-position:-94px 0}
.btn-add:active{background-position:-188px 0}
.btn-run{background-position:0 -31px}
.btn-run:hover{background-position:-94px -31px}
.btn-run:active{background-position:-188px -31px}

.commend-day{height:176px;margin-bottom:10px;overflow:hidden}
.commend-day h3{margin:0;padding:0 10px;height:30px;line-height:31px;font-size:12px;overflow:hidden;border-bottom:1px solid #DDD;background-image:url(app_spr_x.png);background-repeat:repeat-x;background-position:0 -37px}
.commend-day .star-box,
.commend-day .star-box i{background:url(app_spr_img.png) no-repeat}
.commend-day .star-box{position:relative;left:0;top:0;float:left;margin:5px 0 0 8px;display:inline-block;width:85px;height:15px;background-position:0 -62px}
.commend-day .star-box i{position:absolute;font-style:normal;top:0;left:0;height:15px;overflow:hidden;background-position:0 -78px}
.commend-container{position:relative;float:left;width:48px;height:48px;margin:10px 0 0 5px;overflow:hidden;padding:7px 21px 45px;background:url(commend_day.gif) no-repeat 0 0;_display:inline}
.commend-text{float:right;width:100px;padding:0 10px 0 0;line-height:18px;color:#999}
.commend-text h4{margin-top:0;margin-bottom:3px;padding:3px 0;font-size:12px;color:#555;border-bottom:1px solid #DDD}
.commend-text h4 strong,
.commend-text h4 span{display:block}
.commend-text h4 span{font-weight:normal;color:#999}
.commend-text .con{width:100px;height:54px;word-wrap:break-word;overflow:hidden}
.commend-text .btn-add,
.commend-text .btn-run{margin-top:5px;margin-right:5px;color:#fff;text-decoration:none}

.detail-wrap{background:#EEE}
.detail-wrap .btn-back{display:inline-block;width:35px;height:20px;padding-left:15px;line-height:21px;overflow:hidden;color:#fff;background:url(app_spr_img.png) no-repeat -129px -83px;text-decoration:none}
.detail-wrap .btn-back:hover{background-position:-180px -83px}
.detail-wrap .btn-back:active{background-position:-231px -83px}

.app-title{position:relative;height:48px;padding:9px 0 8px 68px;border-bottom:1px solid #DDD;background:url(app_spr_x.png) repeat-x 0 -68px}
.app-title img{position:absolute;top:9px;left:10px;width:48px;height:48px}
.app-title span{display:block;line-height:24px}
.app-title .app-name{font-weight:bold;font-size:14px}
.app-title .app-desc{color:#999}
.app-title .app-desc i{color:#F60;font-style:normal}
.app-title .btn-add,
.app-title .btn-run{position:absolute;top:17px;right:10px;color:#fff;text-decoration:none}

.grade-box{width:100px;height:18px;position:absolute;top:75px;right:10px}
.grade-box .star-box,
.grade-box .star-box i,
.grade-box .star-box a{background-image:url(app_spr_img.png);_background-image:url(app_spr_img.gif);background-repeat:no-repeat}
.grade-box .star-box{float:right}
.grade-box .star-num{float:right;margin:-3px 0 0 4px}
.grade-box .star-box{position:relative;display:inline-block;width:85px;height:15px;background-position:0 -62px}
.grade-box .star-box div{width:40px;height:18px;line-height:18px;float:left;position:relative;left:-40px}
.grade-box .star-box i{position:absolute;top:0;left:0;height:15px;overflow:hidden;background-position:0 -78px;font-style:normal}
.grade-box .star-box ul,
.grade-box .star-box li{position:absolute;margin:0}
.grade-box .star-box a{display:block;height:15px;background-position:100px 100px}
.grade-box .star-box a:hover{background-position:0 -94px}
.grade-box .star-box a em{visibility:hidden;position:absolute;top:-2px;left:-84px;width:80px;text-align:right;color:#999;font-style:normal;background-color:#fff}
.grade-box .star-box a:hover em{visibility:visible}
.grade-box .grade-1{width:17px;z-index:10}
.grade-box .grade-2{width:34px;z-index:9}
.grade-box .grade-3{width:51px;z-index:8}
.grade-box .grade-4{width:68px;z-index:7}
.grade-box .grade-5{width:85px;z-index:6}
.grade-box .star-num{display:inline-block;height:21px;line-height:21px;font-family:Georgia;font-weight:bold;font-size:16px;color:#F60}

.app-contents h4{margin:0 10px;line-height:31px;font-size:12px}
.app-contents h5{margin:0 10px;line-height:23px;font-weight:normal;font-size:12px}
.app-contents h5 em{color:#999;font-style:normal}
.app-text{margin:5px 10px;padding:5px;border-top:1px dotted #DDD}

/* 应用管理 */
.bottom-bar{border-top:1px solid #ddd;width:100%;height:62px;overflow:hidden;position:fixed;z-index:999;bottom:0}
.bottom-bar .con{background:#F2F2F2;height:42px;padding:10px}

.creatbox{position:absolute;top:0;bottom:0;left:0;right:0}
.creatbox .middle{border-bottom:1px solid #fff;position:absolute;top:0;bottom:50px;left:0;right:0;overflow:auto}

.shortcutbox{display:inline-block;width:58px;height:58px;border:1px solid #fff;position:relative;z-index:1000}
.shortcutbox:hover{border:1px solid #ccc;border-right:1px solid #fff}
.shortcutbox:hover .shortcut-selicon{display:block}

.shortcut-addicon{display:inline-block;width:50px;height:50px;margin:4px;background:url(desk_sprite.png) no-repeat -420px -100px;cursor:pointer;position:relative;overflow:hidden}
.shortcut-addicon.bgnone{background:none}
.shortcut-addicon img{width:48px;height:48px;margin:1px}
.shortcut-selicon{position:absolute;top:-1px;left:58px;width:340px;padding:10px 0 0 10px;background:#fff;border:1px solid #ccc;display:none}
.shortcut-selicon a{display:block;width:48px;height:48px;padding:5px;margin-right:10px;margin-bottom:10px;float:left}
.shortcut-selicon a:hover{background:url(desk_sprite.png) no-repeat -350px -100px}
.shortcut-selicon img{width:48px;height:48px}

/*权限管理*/
.permissions_apps{width:100%;float:left;clear:right}
.permissions_apps .app{width:48px;height:48px;margin:0 10px 10px;float:left;position:relative}
.permissions_apps .app img{width:48px;height:48px}
.permissions_apps .app .del{display:none;position:absolute;right:-6px;top:-6px;text-align:center;font-size:12px;width:20px;height:20px;line-height:20px;cursor:pointer;background:#E6110E;color:#fff;border-radius:10px;-moz-border-radius:10px;-webkit-border-radius:10px}
.permissions_apps .app:hover .del{display:block}

.alert_addapps{width:340px;margin:auto}
.alert_addapps .app{width:48px;height:48px;margin:10px 10px 20px 10px;float:left;position:relative;cursor:pointer}
.alert_addapps .app img{width:48px;height:48px}
.alert_addapps .app .name{width:100%;height:24px;line-height:24px;overflow:hidden}
.alert_addapps .app .selected{display:none;position:absolute;width:16px;height:16px;right:0;bottom:0;background:url(selected.gif) no-repeat}
.alert_addapps .act .selected{display:block}
















